<div>
  <div class="container my-5 pt-5">
      <form [formGroup]="postForm" (ngSubmit)="onFormSubmit()" class="row g-3">
      <div class="col-md-6">
        <label for="title" class="form-label">Title</label>
        <input formControlName="title" type="text" class="form-control" id="title">
      </div>
      <div class="col-md-6">
        <label for="useId" class="form-label">User Id</label>
        <input formControlName="userId" type="number" class="form-control" id="userId">
      </div>
      <div class="col-md-6">
        <label for="body" class="form-label">Body</label>
        <textarea formControlName="body" class="form-control" id="body" cols="40" rows="10"></textarea>
      </div>
      <div class="col-12">
        <button  type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>