<div class="service-page" id="service">
    <div class="card-group">
        <div class="card border-0">
          <img src="assets/images/service1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Overview</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam quidem provident aspernatur voluptatum, quas voluptatem voluptates enim. Totam deserunt quidem molestiae odit vel ullam facilis fuga, provident nisi, rerum maiores.</p>
            
          </div>
        </div>
        <div class="card border-0">
          <img src="assets/images/serve2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Team Work</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, provident sit mollitia, libero est laudantium beatae, pariatur optio expedita adipisci veniam atque voluptatem tempora exercitationem deserunt dignissimos autem vitae quisquam.</p>
           
          </div>
        </div>
        <div class="card border-0">
          <img src="assets/images/hero4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Brand</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi sed, quam consequuntur provident doloribus tenetur numquam suscipit quod, minus ipsum hic veritatis a totam minima ipsam! Impedit libero voluptate architecto.</p>
          </div>
        </div>
      </div>
</div>
