<h2 class="text-center mt-5 p-3">Gallery</h2>
<div class="container">
    <div class="row g-4">
      <div class="col-sm-6" *ngFor="let item of posts; let i = index">
        <div class="card">
          <div class="card-body">
            <h3 class="">{{ item.title }}</h3>
            <img src="assets/images/mem6.jpg">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <div class>
              <button (click)="onTitleUpdate(item.id)" class="btn btn-success m-2"> Update </button>
              <button (click)="onTitleDelete(item.id,i)" class="btn btn-danger m-2"> Delete </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>
