<div class="about w-100 d-flex align-items-center" id="contact">
    
    <img src="assets/images/contact.jpg" class="img-thumbnail aboutImage border-0" alt="...">
    <div class="w-100">

        <h2 class="text-center mb-4">Contact Us</h2>
        <div class="contacts">
            <a ><i class="fab fa-github"></i></a>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-facebook"></i></a>
            <a><i class="fab fa-twitter"></i></a>
            <a><i class="far fa-envelope"></i></a>
            <a><i class="fas fa-phone-alt"></i></a>
        </div>
    </div>
</div>
